services:
        surrealdb:
                extends:
                        file: ./backend/docker-compose.yml
                        service: surrealdb
                profiles: ["backend", "complete"]
        redisdb:
                extends:
                        file: ./backend/docker-compose.yml
                        service: redisdb
                profiles: ["backend", "complete"]
        rustserver:
                extends:
                        file: ./backend/docker-compose.yml
                        service: rustserver
                profiles: ["backend", "complete"]
        webserver:
                extends:
                        file: ./frontend/docker-compose.yml
                        service: webserver
                profiles: ["frontend", "complete"]

volumes:
        surreal-data:
