services:
        surrealdb:
                extends:
                        file: ./backend/docker-compose.yml
                        service: surrealdb
                profiles: ["backend", "complete"]
        redisdb:
                extends:
                        file: ./backend/docker-compose.yml
                        service: redisdb
                profiles: ["backend", "complete"]
        surrealdb-dev:
                ports:
                        - "${SURREAL_PORT}:${SURREAL_PORT}"
                extends:
                        file: ./backend/docker-compose.yml
                        service: surrealdb
                profiles: ["dev"]
        redisdb-dev:
                ports:
                        - "${REDIS_PORT}:${REDIS_PORT}"
                extends:
                        file: ./backend/docker-compose.yml
                        service: redisdb
                profiles: ["dev"]
        rustserver:
                extends:
                        file: ./backend/docker-compose.yml
                        service: rustserver
                depends_on:
                        surrealdb:
                                condition: service_started
                profiles: ["backend", "complete"]
        webserver:
                extends:
                        file: ./frontend/docker-compose.yml
                        service: webserver
                profiles: ["frontend", "complete"]

volumes:
        surreal-data:
