services:
        surrealdb:
                container_name: master_surrealdb_container
                extends:
                        file: ./backend/docker-compose.yml
                        service: surrealdb
        redisdb:
                container_name: master_redisdb_container
                extends:
                        file: ./backend/docker-compose.yml
                        service: redisdb
        rustserver:
                container_name: master_rustserver_container
                extends:
                        file: ./backend/docker-compose.yml
                        service: rustserver
        webserver:
                container_name: master_webserver_container
                extends:
                        file: ./frontend/docker-compose.yml
                        service: webserver

volumes:
        surreal-data:
