services:
        surrealdb:
                image: surrealdb/surrealdb:latest
                ports:
                        - "${SURREAL_PORT}:${SURREAL_PORT}"
                user: "0:0"
                volumes:
                        - surreal-data:/${SURREAL_DATA}
                command:
                        - start
                        - --log
                        - ${SURREAL_LOGLEVEL}
                        - --bind
                        - ${SURREAL_HOST}:${SURREAL_PORT}
                        - --user
                        - ${SURREAL_USER}
                        - --pass
                        - ${SURREAL_PASS}
                        - ${SURREAL_STORAGE_ENGINE}:${SURREAL_DATA}

        redisdb:
                build:
                        context: ./redis/
                        args:
                                REDIS_BIND: "${REDIS_BIND}"
                                REDIS_PASS: "${REDIS_PASS}"
                                REDIS_PORT: "${REDIS_PORT}"

        rustserver:
                build: ./api/
                ports:
                        - "${SERVER_PORT}:${SERVER_PORT}"
                env_file: "../.env"

                depends_on:
                        surrealdb:
                                condition: service_started
                                required: true
                        redisdb:
                                condition: service_started
                                required: true

volumes:
        surreal-data:
