@import "tailwindcss";

@layer base {
      * {
            padding: 0;
            margin: 0;
            font-family: "Saira", calibri;
            color: white;
      }

      body {
            background-color: #222;
            min-height: 100vh;
      }

      ::selection {
            background-color: #eee;
            color: black;
      }

      .satisfying-button {
            box-shadow: -3px 3px 2px 0 #0005;
            position: relative;
            transition-duration: 100ms;
      }

      .satisfying-button:hover {
            box-shadow: 0px 0px 2px 0 #0005;
            transform: translate(-2px, 2px);
      }
      
      .satisfying-button::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-radius: inherit;
            box-shadow: 0px 0px 2px 0 #0005 inset;
            transition-duration: inherit;
            width: 100%;
            height: 100%;
      }
      
      .satisfying-button:active {
            transform: translate(-3px, 3px);
      }

      .satisfying-button:active::after {
            box-shadow: -5px 5px 2px 0 #0005 inset;
      }
}
