@import "tailwindcss";

@layer base {
      * {
            padding: 0;
            margin: 0;
            font-family: "Saira", calibri;
            color: white;
      }

      body {
            background-color: #222;
            min-height: 100vh;
      }
}
